<div
  class="square"
  [class.light]="square.isLight"
  [class.dark]="!square.isLight"
  [class.selected]="isSelected"
  [class.has-piece]="square.piece"
  [class.chess-square]="type === 'chess'"
  [class.heatmap-square]="type === 'heatmap'"
  [class.topographic-square]="type === 'topographic'"
  [style]="getSquareControlStyle()"
  [title]="getSquareTooltip()"
  (click)="onSquareClick()"
>
  <!-- Pièce -->
  @if (square.piece) {
  <img
    class="piece-image"
    [src]="getPieceSymbol()"
    [alt]="getPieceAltText()"
    [class.heatmap-piece]="type === 'heatmap'"
    [class.topographic-piece]="type === 'topographic'"
  />
  }

  <!-- Indicateur de contrôle (pour heatmap uniquement) -->
  @if (type === 'heatmap' && hasControlNumbers()) {
  <div class="control-indicator">
    <span
      class="control-value"
      [class.white-dominance]="isWhiteDominance()"
      [class.black-dominance]="isBlackDominance()"
      [class.contested]="isContested()"
    >
      {{ getControl()!.whiteControl }}:{{ getControl()!.blackControl }}
    </span>
  </div>
  }
</div>
