:host {
  display: block;
}

.topo-canvas {
  width: 100%;
  height: 100%;
  display: block;
  border: 2px solid #333;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent; // Fond transparent comme la heatmap
}

.topographic-canvas {
  width: 100%;
  height: 100%;
  border-radius: 8px;

  &.black-orientation {
    transform: rotate(180deg);
  }
}
